.btnSubmit{
    background-color: $color-blue;
    color: $color-white;
    border-radius: 10px;
    box-shadow: 0 0 0 0 $color-black-light;
    border: 2px solid $color-blue;
    &:hover{
        color: $color-blue;
        background: $color-white;
        // 
        box-shadow: inset 0px 0px 2px 0px $color-black-light;
    }
}
.btnDatVe{
    width: 100%;
}
.btnSend{
    background-color: $color-blue-light;
    color: $color-white;
    border-radius: 10px;
    box-shadow: 0 0 0 0 $color-black-light;
    border: 2px solid $color-blue-light;
    width: 100%;
    &:hover{
        color: $color-blue;
        background: $color-white;
        box-shadow: inset 0px 0px 2px 0px $color-black-light;
    }
}