<form  #frmDangNhap='ngForm' (ngSubmit)="DangNhap(frmDangNhap.value)">
  <div class="row">
      <div class="col-12">
          <div class="form-group">
              <input type="text" class="form_basic"
              [ngClass]="{'erro': TaiKhoan.invalid && (TaiKhoan.touched || TaiKhoan.dirty), 'my_form':TaiKhoan.valid || TaiKhoan.untouched && !TaiKhoan.dirty   }"  name="TaiKhoan" aria-describedby="helpId" placeholder="Tài khoản" 
              #TaiKhoan='ngModel' ngModel required>
              <span class="focus-border">
                  <i></i>
              </span>
              <div *ngIf="(TaiKhoan.touched || TaiKhoan.dirty) && TaiKhoan.errors ">
                  <div *ngIf="TaiKhoan.errors.required" class="text-danger">
                      Tài khoản không được rổng !
                  </div>
              </div>
              <i [ngClass]="{'erro':TaiKhoan.invalid && (TaiKhoan.touched || TaiKhoan.dirty)}" class="fa fa fa-user"></i>
          </div>
      </div>
      <div class="col-12">
          <div class="form-group">
              <input name=MatKhau type="password"
              class="form_basic"
              [ngClass]="{'erro': MatKhau.invalid && (MatKhau.touched || MatKhau.dirty), 'my_form':MatKhau.valid || MatKhau.untouched && !MatKhau.dirty  && !MatKhau.errors.pattern }"
              placeholder="Mật khẩu" 
              #MatKhau='ngModel' ngModel required>
              <span class="focus-border">
                  <i></i>
              </span>
              <div *ngIf="(MatKhau.touched || MatKhau.dirty) && MatKhau.errors ">
                  <div *ngIf="MatKhau.errors.required" class="text-danger">
                      password không được rổng !
                  </div>
                 
              </div>
              <i [ngClass]="{'erro':MatKhau.invalid && (MatKhau.touched || MatKhau.dirty)}" class="fa fa-lock"></i>
          </div>
      </div>
     <div class="col-12">
          <div class="form-group text-right">
              <button type="submit" [disabled]="frmDangNhap.invalid" class="btn btnSubmit">Đăng nhập</button>
          </div>
     </div>
  </div>
</form>