<div class="container baiviet my-3" id="TinTuc">
<div class="news">
  
  <div class="item_1 item">
      <img src="./assets/img/post-3-copyright.jpg" alt="">
      <div class="mark"></div>
      <div class="content">
         <a href="" class="first">Hot grid, news and updates </a>
          <h4 >Những bộ phim có doanh thu cao năm 2018</h4>
          <div class="icon">
              <span>on Dec 4, 2017</span>
              <i class="fa fa-comment-o"> 4 </i>
              <i class="fa fa-heart-o"> 6</i>
          </div>
      </div>
  </div>    
 <div class="item_2 item">
      <img src="./assets/img/post-12-copyright.jpg" alt="">
      <div class="mark"></div>
      <div class="content">
         <a href="" class="first">Hot grid, news and updates </a>
          <h5 >Những bộ phim có doanh thu cao năm 2018</h5>
          <div class="icon">
              <span>on Dec 4, 2017</span>
              <i class="fa fa-comment-o"> 4 </i>
              <i class="fa fa-heart-o"> 6</i>
          </div>
      </div>
  </div>
  
  <div class="item_3 item">
      <img src="./assets/img/post-5-copyright.jpg" alt="">
      <div class="mark"></div>
      <div class="content">
         <a href="" class="first">Hot grid, news and updates </a>
          <h5 >Những bộ phim có doanh thu cao năm 2018</h5>
          <div class="icon">
              <span>on Dec 4, 2017</span>
              <i class="fa fa-comment-o"> 4 </i>
              <i class="fa fa-heart-o"> 6</i>
          </div>
      </div>
  </div>
  <div class="item_4 item">
      <img src="./assets/img/post-6-copyright.jpg" alt="">
      <div class="mark"></div>
      <div class="content">
         <a href="" class="first">Hot grid, news and updates </a>
          <h4 >Những bộ phim có doanh thu cao năm 2018</h4>
          <div class="icon">
              <span>on Dec 4, 2017</span>
              <i class="fa fa-comment-o"> 4 </i>
              <i class="fa fa-heart-o"> 6</i>
          </div>
      </div>
  </div>
</div>
</div>
