.download{
    background-color: $color-main;
    color: $color-white;
    img{
        width: 100%;
    }
    .link{
        display: flex;
        justify-content: center;
        a{
         width: 135px;
         margin-right: 20px;
         &:hover{
             img{
                 opacity: 0.8;
             }

          }
        }
        @include respond-to("large"){
         justify-content: center;
     }
    }
}