.feature{
    padding: $pd-1;
    .content{
        padding-left: 100px;
        margin-bottom: 50px;
        h1{
            @include respond-to("large"){
                text-align: center;
            }
            @include respond-to("small"){
                font-size: 30px;
            }
        }
        p{
            margin-left: 10px;
            @include respond-to("large"){
                text-align: center;
            }
            @include respond-to("small"){
                font-size: 14px;
            }
        }
        ul{
            list-style: none;
            margin-left: 10px;
            li{
                margin-bottom: $mg-1;
                position: relative;
                padding-left: $pd-3;
                text-align: left;
                &::before{
                    content: "\f00c";
                    color: #00aaf1;
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    position: absolute;
                    top: 3px;
                    left: 0px;
                    -webkit-font-smoothing: antialiased;
                }
                
                @include respond-to("small"){
                    font-size: 14px;
                }
            }
            @include respond-to("large"){
                padding-left: 25%;

            }
            @include respond-to("medium"){
                padding-left: 20%;
               
            }
            @include respond-to("small"){
                padding-left: 10%;
            }

        }
       .link{
           display: flex;
           justify-content: flex-start;
           a{
            width: 135px;
            margin-right: 20px;
            &:hover{
                img{
                    opacity: 0.8;
                }

             }
           }
           @include respond-to("large"){
            justify-content: center;
        }
       }
        @include respond-to("large"){
            padding-left: 0;
            margin-top: 50px;
        }
    }
}