.download{
    background-image: linear-gradient(to top, #ffffff, #fafafd 22%, #f5f6fb);
    h1{
        font-weight: $fw-bold;
        margin-bottom: $mg-2;
    }
    .img-content{
        width: 100%;
    }
}