<div class="DanhSachGhe">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ChiTietPhim text-center">
                   <div class="row">
                       <div class="col-12 col-md-4">
                            <span>Tên phim: {{phim.TenPhim}}</span>
                       </div>
                       <div class="col-12 col-md-4">
                            <span>  <span>Lịch chiếu: {{LichChieu | date:'dd/MM/yyyy, h:mm a'}}</span></span>
                       </div>
                       <div class="col-12 col-md-4">
                            <span>Mã rạp: {{TenRap}} </span>
                       </div>
                   </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
               <div class="left">
                    <h4>Danh Sách Ghế</h4>
                   <div class="content_left">
                       <h5>Màn hình</h5>
                       <div class="Screen">
                           
                         
                       </div>
                        <app-ghe *ngFor="let ghe of DanhSachGhe, let i = index" (output_Ghe)="DatGhe($event)"  [Ghe]="ghe">
                            
                           
                        </app-ghe>
                   </div>
               </div>
            </div>
            <div class="col-12 col-md-5">
               <div class="right">
                    <h4>Số lượng ghế bạn chọn: {{DanhSachGheChon.length}}</h4>
                    <ng-container *ngFor="let ghe of DanhSachGheChon">
                    <div class="my-4">
                        <span>Ghế : {{ghe.TenGhe}} Giá: {{ghe.GiaVe  | number : '1.0-3'}} VND</span>
                    <button class="mx-3 btn btn-info" (click)="HuyGhe(ghe)">Hủy</button>
                    </div>
                    </ng-container>
                    
                   <div *ngIf="flag_button" class="text-center bill">
                        <p >Tổng tiền: {{TongTien  | number : '1.0-3'}} VND  <button (click)="DatVe()" class="btn btnSubmit">Thanh toán</button></p>
                       
                   </div>
                </div>
            </div>
        </div>
      </div>
</div>
<!-- <button (click)="Show()">show</button> -->