<header #Header>
  <nav class="navbar navbar-expand-lg  navbar-light fixed-top " [ngClass] = "{'box-shadow' : flag_shadow}">
      <div class="container">
          <a class="navbar-brand" href="#">CyberFilm</a>
          <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Trang chủ</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#DanhSachPhim">Danh sách phim</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#TinTuc">Tin tức</a>
                  </li>
                    <li class="btn btnSubmit" (click)="resetForm()" *ngIf="!flag_dangnhap" data-toggle="modal" data-target="#FormLogin">
                        Đăng nhập
                    </li>
                    <!-- <li class="nav-item" >
                        <a class="nav-link" href="#">Hello {{user.HoTen}}</a>                       
                    </li> -->
                    <li class="btn btnSubmit" *ngIf="flag_dangnhap">
                        <div class="dropdown">
                           <a  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-heart"></i> Xin chào Minh</a>
                            <div class="dropdown-menu fade" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="DangXuat()">Đăng xuất</a>
                            </div>
                        </div>     
                    </li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="modal fade" id="FormLogin">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body" >
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#dangnhap" role="tab">Đăng nhập</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="profile-tab"  data-toggle="tab" href="#dangki" role="tab">Đăng kí</a>
                      </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="dangnhap" role="tabpanel">
                        <app-dang-nhap></app-dang-nhap>
                       
                      </div>
                      <div class="tab-pane fade" id="dangki" role="tabpanel" aria-labelledby="profile-tab">
                      
                       <app-dang-ki></app-dang-ki>
                       
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header> 