<div class="container" id="DanhSachPhim">
  <div class="row">
      <div class="col-12">
            <div class="ListPhim">
                <ul class="nav nav-tabs justify-content-center align-items-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a  data-toggle="tab" class="active" role="tab"  aria-controls="phimdangchieu" href="#phimdangchieu" aria-selected="true">Phim đang chiếu</a>
                    </li>
                    <li class="nav-item">
                        <a  data-toggle="tab" role="tab" href="#phimsapchieu" aria-controls="phimsapchieu" aria-selected="false">Phim sắp chiếu</a>
                    </li>
                </ul>
                <div class="tab-content my-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="phimdangchieu" role="tabpanel" aria-labelledby="home-tab">
                        <div class="phimdangchieu">
                            <ngx-slick class="carousel"  #slickModal="slick-modal" [config]="slideConfig_1">
                                <div ngxSlickItem *ngFor="let phim of DanhSachPhim" class="slide">
                                    <div>   
                                        <app-phim [phim]="phim"></app-phim>
                                    </div>
                                </div>
                            </ngx-slick>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="phimsapchieu" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="phimsapchieu">
                            <ngx-slick class="carousel"  #slickModal="slick-modal" [config]="slideConfig_2" >
                                <div ngxSlickItem *ngFor="let phim of DanhSachPhim" class="slide">
                                    <app-phim [phim]="phim"></app-phim>
                                </div>
                            </ngx-slick>
                        </div>
                    </div>
                </div>
            </div>
      </div>
  </div>
</div>