<div class="container-fluid slide_comment">
  <div class="comment">
    <ngx-slick class=""  #slickModal="slick-modal" [config]="slideConfig_1">
        <div ngxSlickItem *ngFor="let nguoi of DanhSach" class="slide">
          <div>
            <div class="item">
              <div class="overlay text-center">
                  <img [src]="nguoi.HinhAnh" alt="">
              </div>
              <div class="content text-center">
                  <p>{{nguoi.Des}}</p>
                  <p>{{nguoi.Ten}}</p>
                  <p>{{nguoi.ChucVu}}</p>
              </div>
            </div>  
          </div>
        </div>
    </ngx-slick>
  </div>
</div>