@charset "UTF-8";
@font-face {
  font-family: LogoFont;
  src: url(../font/Nautilus.otf); }
@font-face {
  font-family: normalFont;
  src: url(../font/Roboto-Regular.ttf); }
* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: normalFont;
  font-weight: 500; }

body {
  padding: 0 !important; }

header, section, footer, aside, nav, main, article, figure {
  display: block; }

.btnSubmit {
  background-color: #195499;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  border: 2px solid #195499; }
  .btnSubmit:hover {
    color: #195499;
    background: white;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5); }

.btnDatVe {
  width: 100%; }

.btnSend {
  background-color: #60A8EC;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  border: 2px solid #60A8EC;
  width: 100%; }
  .btnSend:hover {
    color: #195499;
    background: white;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5); }

header .form-group {
  position: relative; }
  header .form-group .form_basic {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da; }
    header .form-group .form_basic:focus {
      outline: none; }
    header .form-group .form_basic.erro {
      border: 2px solid #e0011a; }
  header .form-group .fa {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    color: #495057;
    background-color: #aaa;
    padding: 9px 10px; }
    header .form-group .fa.erro {
      background: #e0011a;
      color: white; }
    header .form-group .fa.fa-phone {
      padding: 9px 12px; }
    header .form-group .fa.fa-user {
      padding: 9px 13px; }
    header .form-group .fa.fa-lock {
      padding: 9px 14px; }
  header .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  header .form-group .focus-border:before,
  header .form-group .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #60A8EC;
    transition: 0.3s; }
  header .form-group .focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0; }
  header .form-group .focus-border i:before,
  header .form-group .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #60A8EC;
    transition: 0.4s; }
  header .form-group .focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0; }
  header .form-group .my_form:focus ~ .focus-border:before,
  header .form-group .my_form:focus ~ .focus-border:after {
    width: 100%;
    transition: 0.3s; }
  header .form-group .my_form:focus ~ .focus-border i:before,
  header .form-group .my_form:focus ~ .focus-border i:after {
    height: 100%;
    transition: 0.4s; }
  header .form-group .my_form:focus ~ .fa {
    background-color: #60A8EC;
    color: white;
    transition: 0.6s; }

header {
  height: 70px;
  margin-bottom: 20px !important;
  transition: all 0.4s; }
  header .box-shadow {
    box-shadow: 0px 5px 3px 0 #00000073;
    background-color: #f5f5f5 !important;
    transition: all 0.4s; }
  header .navbar {
    background-color: white; }
    header .navbar .navbar-brand {
      font-family: logoFont;
      font-size: 35px; }
    header .navbar .nav-item {
      position: relative;
      margin: 0 20px; }
      header .navbar .nav-item .nav-link {
        color: black; }
      header .navbar .nav-item.active .nav-link {
        color: #195499; }
      header .navbar .nav-item.active::before {
        width: 100%; }
      header .navbar .nav-item:hover .nav-link {
        color: #195499; }
      header .navbar .nav-item:hover::before {
        width: 100%; }
      header .navbar .nav-item::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background: #195499;
        transition: all 0.3s; }
      header .navbar .nav-item.user {
        position: relative;
        height: 100%; }
        header .navbar .nav-item.user::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 2px;
          height: 0px;
          transition: all 0.5s;
          background-color: #195499; }
        header .navbar .nav-item.user:hover {
          height: 100%; }
  header .modal-content {
    border-radius: 15px; }
    header .modal-content .nav-tabs {
      border: none;
      margin-bottom: 20px; }
      header .modal-content .nav-tabs .nav-item {
        margin-right: 20px; }
        header .modal-content .nav-tabs .nav-item .nav-link {
          border: none;
          color: rgba(0, 0, 0, 0.5);
          position: relative;
          font-size: 20px;
          transition: all 0.5s; }
          header .modal-content .nav-tabs .nav-item .nav-link::before {
            content: "";
            position: absolute;
            width: 0px;
            bottom: 0px;
            left: 0;
            height: 2px;
            transition: 0.5s;
            background-color: #195499; }
          header .modal-content .nav-tabs .nav-item .nav-link:hover {
            color: #195499; }
            header .modal-content .nav-tabs .nav-item .nav-link:hover::before {
              width: 100%; }
          header .modal-content .nav-tabs .nav-item .nav-link.active {
            color: #195499; }
            header .modal-content .nav-tabs .nav-item .nav-link.active::before {
              width: 100%; }

.possition {
  position: relative; }
  .possition .carousel {
    position: relative; }
    .possition .carousel img {
      width: 100%; }

.carousel {
  position: relative; }
  .carousel img {
    width: 100%; }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control {
  z-index: 2; }

.form_mua_ve {
  background-color: #60A8EC;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  padding: 0 !important; }
  @media screen and (max-width: 768px) {
    .form_mua_ve {
      width: 100%; } }
  .form_mua_ve .content {
    box-shadow: -2px 3px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .form_mua_ve .content {
        display: block; } }
    .form_mua_ve .content select {
      border: none;
      border-right: 2px solid #a5a5a5;
      padding: 0 10px;
      box-shadow: none; }
    .form_mua_ve .content .form-group {
      margin: 10px; }
      @media screen and (max-width: 768px) {
        .form_mua_ve .content .form-group {
          width: 100%;
          margin: 10px 0; } }
      .form_mua_ve .content .form-group:first-child {
        width: 30%; }
        @media screen and (max-width: 768px) {
          .form_mua_ve .content .form-group:first-child {
            width: 100%; } }
      .form_mua_ve .content .form-group:last-child {
        width: 15%; }
        @media screen and (max-width: 768px) {
          .form_mua_ve .content .form-group:last-child {
            width: 100%; } }

.ListPhim .nav-tabs {
  height: 80px; }
  .ListPhim .nav-tabs a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    margin: 0 30px;
    transition: all 0.5s; }
    .ListPhim .nav-tabs a:hover {
      color: #195499;
      font-size: 30px; }
    .ListPhim .nav-tabs a.active {
      color: #195499;
      font-size: 30px; }
.ListPhim .tab-pane {
  position: relative;
  display: block !important;
  height: 0 !important; }
  .ListPhim .tab-pane div {
    height: 0 !important; }
  .ListPhim .tab-pane.active {
    height: auto !important; }
    .ListPhim .tab-pane.active div {
      height: auto !important; }
      .ListPhim .tab-pane.active div.hover_effect {
        height: 70% !important; }
  .ListPhim .tab-pane .phimsapchieu, .ListPhim .tab-pane .phimdangchieu {
    width: 100%;
    position: relative; }
    .ListPhim .tab-pane .phimsapchieu .slick-slide, .ListPhim .tab-pane .phimdangchieu .slick-slide {
      position: relative; }
      .ListPhim .tab-pane .phimsapchieu .slick-slide .item, .ListPhim .tab-pane .phimdangchieu .slick-slide .item {
        padding: 10px;
        width: 100%;
        position: relative; }
        .ListPhim .tab-pane .phimsapchieu .slick-slide .item .overlay, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .overlay {
          background-color: #195499;
          box-shadow: 3px -3px 7px 0px #6363636b; }
          .ListPhim .tab-pane .phimsapchieu .slick-slide .item .overlay img, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .overlay img {
            height: 400px;
            width: 100%; }
        .ListPhim .tab-pane .phimsapchieu .slick-slide .item .tenphim, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .tenphim {
          font-size: 16px; }
        .ListPhim .tab-pane .phimsapchieu .slick-slide .item:hover img, .ListPhim .tab-pane .phimdangchieu .slick-slide .item:hover img {
          opacity: 0.5;
          background-color: #195499;
          filter: blur(2px); }
        .ListPhim .tab-pane .phimsapchieu .slick-slide .item:hover .hover_effect, .ListPhim .tab-pane .phimdangchieu .slick-slide .item:hover .hover_effect {
          opacity: 1;
          transform: translate3d(-50%, -50%, 0px); }
          .ListPhim .tab-pane .phimsapchieu .slick-slide .item:hover .hover_effect::before, .ListPhim .tab-pane .phimsapchieu .slick-slide .item:hover .hover_effect::after, .ListPhim .tab-pane .phimdangchieu .slick-slide .item:hover .hover_effect::before, .ListPhim .tab-pane .phimdangchieu .slick-slide .item:hover .hover_effect::after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1); }
          .ListPhim .tab-pane .phimsapchieu .slick-slide .item:hover .hover_effect button, .ListPhim .tab-pane .phimsapchieu .slick-slide .item:hover .hover_effect i, .ListPhim .tab-pane .phimdangchieu .slick-slide .item:hover .hover_effect button, .ListPhim .tab-pane .phimdangchieu .slick-slide .item:hover .hover_effect i {
            opacity: 1;
            transform: scale(1) translate(-50%, -50%); }
        .ListPhim .tab-pane .phimsapchieu .slick-slide .item .hover_effect, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .hover_effect {
          overflow: hidden;
          opacity: 0;
          position: absolute;
          z-index: 4;
          width: 80%;
          height: 70%;
          left: 50%;
          top: 45%;
          transform: translate(-50%, -50%); }
          .ListPhim .tab-pane .phimsapchieu .slick-slide .item .hover_effect::before, .ListPhim .tab-pane .phimsapchieu .slick-slide .item .hover_effect::after, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .hover_effect::before, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .hover_effect::after {
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            content: ' ';
            opacity: 0;
            -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
            transition: opacity 0.5s, transform 0.5s; }
          .ListPhim .tab-pane .phimsapchieu .slick-slide .item .hover_effect::before, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .hover_effect::before {
            opacity: 1;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1); }
          .ListPhim .tab-pane .phimsapchieu .slick-slide .item .hover_effect::after, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .hover_effect::after {
            opacity: 1;
            border-right: 2px solid #fff;
            border-left: 2px solid #fff;
            -webkit-transform: scale(1, 0);
            transform: scale(1, 0); }
          .ListPhim .tab-pane .phimsapchieu .slick-slide .item .hover_effect i, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .hover_effect i {
            opacity: 0;
            cursor: pointer;
            position: absolute;
            top: 40%;
            left: 50%;
            z-index: 5;
            color: white;
            font-size: 40px;
            transform: translateX(-50%);
            transition: opacity 0.5s ,transform 0.5s; }
          .ListPhim .tab-pane .phimsapchieu .slick-slide .item .hover_effect button, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .hover_effect button {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            top: 55%;
            left: 50%;
            z-index: 5;
            width: 50%;
            background-color: white;
            color: #195499;
            transform: translateX(-50%);
            transition: opacity 0.5s ,transform 0.5s; }
            .ListPhim .tab-pane .phimsapchieu .slick-slide .item .hover_effect button:hover, .ListPhim .tab-pane .phimdangchieu .slick-slide .item .hover_effect button:hover {
              color: white;
              background-color: #60A8EC; }
    .ListPhim .tab-pane .phimsapchieu .slick-arrow, .ListPhim .tab-pane .phimdangchieu .slick-arrow {
      font-size: 20px;
      color: #195499; }
      @media screen and (max-width: 768px) {
        .ListPhim .tab-pane .phimsapchieu .slick-arrow, .ListPhim .tab-pane .phimdangchieu .slick-arrow {
          display: none !important; } }
      .ListPhim .tab-pane .phimsapchieu .slick-arrow.slick_prev, .ListPhim .tab-pane .phimdangchieu .slick-arrow.slick_prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        left: -20px; }
      .ListPhim .tab-pane .phimsapchieu .slick-arrow.slick_next, .ListPhim .tab-pane .phimdangchieu .slick-arrow.slick_next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        right: -20px; }

#modal_trailer .modal-dialog {
  max-width: 800px;
  margin: 30px auto; }
#modal_trailer .modal-body {
  position: relative;
  padding: 0px; }
#modal_trailer .close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1; }

.baiviet .news {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-gap: 10px; }
  .baiviet .news img {
    width: 100%;
    height: 100%; }
  .baiviet .news .item {
    position: relative;
    overflow: hidden; }
    .baiviet .news .item.item_1 {
      grid-column: 1/span 2;
      grid-row: 1/span 2; }
      .baiviet .news .item.item_1 img {
        height: 100%; }
      .baiviet .news .item.item_1 h4 {
        font-size: 30px; }
    .baiviet .news .item.item_4 {
      grid-column: 3/span 2;
      grid-row: 2/span 1; }
      .baiviet .news .item.item_4 img {
        width: 100%;
        height: 100%; }
    .baiviet .news .item .mark {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
    .baiviet .news .item .content {
      position: absolute;
      bottom: 0;
      color: white;
      width: 90%;
      left: 5%; }
      .baiviet .news .item .content .first {
        color: #f8b350;
        font-size: 12px; }
      .baiviet .news .item .content .icon {
        font-size: 12px; }
        .baiviet .news .item .content .icon span {
          margin-right: 5px;
          font-size: 12px; }
        .baiviet .news .item .content .icon i {
          margin-right: 5px; }
    .baiviet .news .item .overplay__large {
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      color: white;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 20px 30px 20px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
@media screen and (max-width: 992px) {
  .baiviet .news {
    grid-template-columns: repeat(1, 1fr); }
  .baiviet .item_1 {
    grid-column: 1/span 1 !important;
    grid-row: 1/span 1 !important; }
    .baiviet .item_1 h4 {
      font-size: 1.5rem !important; }
  .baiviet .item_4 {
    grid-column: 1/span 1 !important;
    grid-row: 4/span 1 !important; } }

.slide_comment {
  background-color: #195499; }
  .slide_comment .comment {
    width: 80%;
    margin: auto;
    color: white;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px; }
    .slide_comment .comment .overlay {
      position: relative;
      margin-bottom: 30px; }
      .slide_comment .comment .overlay img {
        margin: auto;
        border-radius: 50%;
        width: auto !important; }
      .slide_comment .comment .overlay::before {
        content: "”";
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 30px;
        background-color: black;
        color: white;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%); }
    .slide_comment .comment .content p:nth-child(1) {
      font-size: 20px !important; }
    .slide_comment .comment .content p:nth-child(2) {
      font-weight: bold; }
    .slide_comment .comment .content p:nth-child(3) {
      font-size: 12px; }
    @media screen and (max-width: 992px) {
      .slide_comment .comment {
        width: 100%; } }

footer {
  background-color: #195499;
  padding: 10px 0;
  color: white; }

header {
  height: 70px;
  margin-bottom: 20px !important;
  transition: all 0.4s; }
  header .box-shadow {
    box-shadow: 0px 5px 3px 0 #00000073;
    background-color: #f5f5f5 !important;
    transition: all 0.4s; }
  header .navbar {
    background-color: white; }
    header .navbar .navbar-brand {
      font-family: logoFont;
      font-size: 35px; }
    header .navbar .nav-item {
      position: relative;
      margin: 0 20px; }
      header .navbar .nav-item .nav-link {
        color: black; }
      header .navbar .nav-item.active .nav-link {
        color: #195499; }
      header .navbar .nav-item.active::before {
        width: 100%; }
      header .navbar .nav-item:hover .nav-link {
        color: #195499; }
      header .navbar .nav-item:hover::before {
        width: 100%; }
      header .navbar .nav-item::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background: #195499;
        transition: all 0.3s; }
      header .navbar .nav-item.user {
        position: relative;
        height: 100%; }
        header .navbar .nav-item.user::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 2px;
          height: 0px;
          transition: all 0.5s;
          background-color: #195499; }
        header .navbar .nav-item.user:hover {
          height: 100%; }
  header .modal-content {
    border-radius: 15px; }
    header .modal-content .nav-tabs {
      border: none;
      margin-bottom: 20px; }
      header .modal-content .nav-tabs .nav-item {
        margin-right: 20px; }
        header .modal-content .nav-tabs .nav-item .nav-link {
          border: none;
          color: rgba(0, 0, 0, 0.5);
          position: relative;
          font-size: 20px;
          transition: all 0.5s; }
          header .modal-content .nav-tabs .nav-item .nav-link::before {
            content: "";
            position: absolute;
            width: 0px;
            bottom: 0px;
            left: 0;
            height: 2px;
            transition: 0.5s;
            background-color: #195499; }
          header .modal-content .nav-tabs .nav-item .nav-link:hover {
            color: #195499; }
            header .modal-content .nav-tabs .nav-item .nav-link:hover::before {
              width: 100%; }
          header .modal-content .nav-tabs .nav-item .nav-link.active {
            color: #195499; }
            header .modal-content .nav-tabs .nav-item .nav-link.active::before {
              width: 100%; }

footer {
  background-color: #195499;
  padding: 10px 0;
  color: white; }

@media (min-width: 320px) {
  .film_detail_container {
    background-image: url("../img/13562c73a911081.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 932px;
    padding: 0; }
    .film_detail_container .film_warp {
      background-color: rgba(24, 24, 24, 0.8);
      height: 100%;
      width: 100%;
      padding: 0; }
      .film_detail_container .film_warp .film_bar {
        width: 100%;
        height: 15px;
        background-image: url("../img/film.png");
        background-size: contain;
        background-repeat: repeat; }
        .film_detail_container .film_warp .film_bar span {
          height: 100%;
          width: 2.5px;
          background-color: #60A8EC; }
      .film_detail_container .film_warp .film {
        width: 100%;
        height: 902px;
        padding-left: 0;
        padding-right: 0; }
        .film_detail_container .film_warp .film .left_content {
          width: 100%;
          height: 50%;
          padding: 40px 12%; }
          .film_detail_container .film_warp .film .left_content .avatar_film {
            width: 100%;
            height: 400px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; }
            .film_detail_container .film_warp .film .left_content .avatar_film img {
              width: 100%; }
            .film_detail_container .film_warp .film .left_content .avatar_film .backdrop {
              opacity: 0;
              width: 100%;
              height: 100%;
              transition: 1s;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -ms-transition: 0.5s;
              -o-transition: 0.5s;
              background-color: rgba(0, 0, 0, 0.8);
              text-align: center;
              line-height: 371px; }
              .film_detail_container .film_warp .film .left_content .avatar_film .backdrop i {
                color: #fff544;
                font-size: 40px;
                cursor: pointer; }
              .film_detail_container .film_warp .film .left_content .avatar_film .backdrop:hover {
                opacity: 1; }
        .film_detail_container .film_warp .film .right_content {
          width: 100%;
          height: 50%;
          padding-top: 0px;
          padding-bottom: 40px;
          padding-right: 0;
          padding-left: 0;
          color: white; }
          .film_detail_container .film_warp .film .right_content .right_content_wrap {
            width: 100%;
            height: 100%; }
            .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up {
              width: 100%;
              height: 50%;
              padding: 0 10%;
              flex-direction: column; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left {
                width: 100%;
                height: 100%; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left h5 {
                  width: 100%;
                  border-bottom: 1px solid #fff544;
                  padding-bottom: 5px; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left p {
                  font-size: 14px; }
                  .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left p span {
                    font-size: 14px;
                    color: #a5a5a5; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left .date_film {
                  margin-top: 20px; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right {
                width: 100%;
                height: 100%;
                padding-left: 0%;
                display: flex; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right p {
                  padding-left: 0%;
                  font-size: 14px;
                  color: #fff544; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right .star_wrap {
                  width: 15%;
                  height: 100%;
                  background-image: none;
                  background-size: contain;
                  background-repeat: no-repeat;
                  text-align: center;
                  line-height: 21px; }
                  .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right .star_wrap p {
                    padding-left: 0;
                    font-size: 17px;
                    color: white;
                    font-weight: bold; }
            .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down {
              width: 100%;
              height: 50%;
              padding-top: 30px;
              overflow: hidden;
              padding: 0 10%; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down h6 {
                color: #a5a5a5;
                padding-bottom: 5px; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down p {
                font-size: 14px; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down p span {
                  font-size: 14px;
                  color: #a5a5a5; } }
@media (min-width: 768px) {
  .film_detail_container {
    background-image: url("../img/13562c73a911081.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0; }
    .film_detail_container .film_warp {
      background-color: rgba(24, 24, 24, 0.8);
      height: 100%;
      width: 100%;
      padding: 0; }
      .film_detail_container .film_warp .film_bar {
        width: 100%;
        height: 15px;
        background-image: url("../img/film.png");
        background-size: contain;
        background-repeat: repeat; }
        .film_detail_container .film_warp .film_bar span {
          height: 100%;
          width: 2.5px;
          background-color: #60A8EC; }
      .film_detail_container .film_warp .film {
        width: 100%;
        height: 902px;
        padding-left: 0;
        padding-right: 0; }
        .film_detail_container .film_warp .film .left_content {
          width: 100%;
          height: 50%;
          padding: 80px 36% 40px 36%; }
          .film_detail_container .film_warp .film .left_content .avatar_film {
            width: 100%;
            height: 400px;
            background-image: url("../img/poster_avenger_4.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; }
            .film_detail_container .film_warp .film .left_content .avatar_film .backdrop {
              opacity: 0;
              width: 100%;
              height: 100%;
              transition: 1s;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -ms-transition: 0.5s;
              -o-transition: 0.5s;
              background-color: rgba(0, 0, 0, 0.8);
              text-align: center;
              line-height: 371px; }
              .film_detail_container .film_warp .film .left_content .avatar_film .backdrop i {
                color: #fff544;
                font-size: 40px;
                cursor: pointer; }
              .film_detail_container .film_warp .film .left_content .avatar_film .backdrop:hover {
                opacity: 1; }
        .film_detail_container .film_warp .film .right_content {
          width: 100%;
          height: 50%;
          padding: 0;
          color: white; }
          .film_detail_container .film_warp .film .right_content .right_content_wrap {
            width: 100%;
            height: 100%; }
            .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up {
              width: 100%;
              height: 50%;
              padding: 0 10%;
              flex-direction: row; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left {
                width: 50%;
                height: 100%; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left h5 {
                  width: 100%;
                  border-bottom: 1px solid #fff544;
                  padding-bottom: 5px; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left p {
                  font-size: 14px; }
                  .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left p span {
                    font-size: 14px;
                    color: #a5a5a5; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left .date_film {
                  margin-top: 20px; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right {
                width: 50%;
                height: 100%;
                padding-left: 20%;
                display: block; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right p {
                  padding-left: 10%;
                  font-size: 14px;
                  color: #fff544; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right .star_wrap {
                  width: 50%;
                  height: 90px;
                  background-image: url("../img/Paomedia-Small-N-Flat-Star.ico");
                  background-size: cover;
                  text-align: center;
                  line-height: 90px; }
                  .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right .star_wrap p {
                    padding-left: 0;
                    font-size: 17px;
                    color: black;
                    font-weight: bold; }
            .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down {
              width: 100%;
              height: 50%;
              padding-top: 30px;
              overflow: hidden;
              padding: 0 10%; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down h6 {
                color: #a5a5a5;
                padding-bottom: 5px; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down p {
                font-size: 14px; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down p span {
                  font-size: 14px;
                  color: #a5a5a5; } }
@media (min-width: 996px) {
  .film_detail_container {
    background-image: url("../img/13562c73a911081.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 532px;
    padding: 0; }
    .film_detail_container .film_warp {
      background-color: rgba(24, 24, 24, 0.8);
      height: 100%;
      width: 100%;
      padding: 0; }
      .film_detail_container .film_warp .film_bar {
        width: 100%;
        height: 15px;
        background-image: url("../img/film.png");
        background-size: contain;
        background-repeat: repeat; }
        .film_detail_container .film_warp .film_bar span {
          height: 100%;
          width: 2.5px;
          background-color: #60A8EC; }
      .film_detail_container .film_warp .film {
        width: 100%;
        height: 502px;
        display: flex; }
        .film_detail_container .film_warp .film .left_content {
          height: 100%;
          padding: 40px 12%; }
          .film_detail_container .film_warp .film .left_content .avatar_film {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat; }
            .film_detail_container .film_warp .film .left_content .avatar_film img {
              width: 100%; }
            .film_detail_container .film_warp .film .left_content .avatar_film .backdrop {
              opacity: 0;
              width: 100%;
              height: 100%;
              transition: 1s;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -ms-transition: 0.5s;
              -o-transition: 0.5s;
              background-color: rgba(0, 0, 0, 0.8);
              text-align: center;
              line-height: 462px; }
              .film_detail_container .film_warp .film .left_content .avatar_film .backdrop i {
                color: #fff544;
                font-size: 40px;
                cursor: pointer; }
              .film_detail_container .film_warp .film .left_content .avatar_film .backdrop:hover {
                opacity: 1; }
        .film_detail_container .film_warp .film .right_content {
          height: 100%;
          padding-top: 80px;
          padding-bottom: 80px;
          padding-right: 12%;
          color: white; }
          .film_detail_container .film_warp .film .right_content .right_content_wrap {
            width: 100%;
            height: 100%; }
            .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up {
              width: 100%;
              height: 50%;
              padding: 0;
              flex-direction: row; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left {
                width: 50%;
                height: 100%; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left h5 {
                  border-bottom: 1px solid #fff544;
                  padding-bottom: 5px;
                  font-size: 17px;
                  width: 100%; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left p {
                  font-size: 14px; }
                  .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left p span {
                    font-size: 14px;
                    color: #a5a5a5; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right {
                width: 50%;
                height: 100%;
                padding-left: 20%;
                display: block; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right p {
                  font-size: 14px;
                  color: #fff544;
                  padding-left: 0; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right .star_wrap {
                  width: 55%;
                  height: 65px;
                  background-image: url("../img/Paomedia-Small-N-Flat-Star.ico");
                  background-size: cover;
                  text-align: center;
                  line-height: 65px; }
                  .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right .star_wrap p {
                    font-size: 13px;
                    color: black;
                    font-weight: bold; }
            .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down {
              width: 100%;
              height: 50%;
              padding-top: 28px;
              padding-left: 0;
              padding-right: 0;
              overflow: hidden; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down h6 {
                color: #a5a5a5;
                padding-bottom: 5px; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down p {
                font-size: 14px; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down p span {
                  font-size: 14px;
                  color: #a5a5a5; } }
@media (min-width: 1200px) {
  .film_detail_container {
    background-image: url("../img/13562c73a911081.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 532px;
    padding: 0; }
    .film_detail_container .film_warp {
      background-color: rgba(24, 24, 24, 0.8);
      height: 100%;
      width: 100%;
      padding: 0; }
      .film_detail_container .film_warp .film_bar {
        width: 100%;
        height: 15px;
        background-image: url(../img/film.png);
        background-size: contain;
        background-repeat: repeat; }
        .film_detail_container .film_warp .film_bar span {
          height: 100%;
          width: 2.5px;
          background-color: #60A8EC; }
      .film_detail_container .film_warp .film {
        width: 100%;
        height: 502px;
        display: flex; }
        .film_detail_container .film_warp .film .left_content {
          height: 100%;
          padding: 40px 12%; }
          .film_detail_container .film_warp .film .left_content .avatar_film {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; }
            .film_detail_container .film_warp .film .left_content .avatar_film .backdrop {
              opacity: 0;
              width: 100%;
              height: 100%;
              transition: 1s;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -ms-transition: 0.5s;
              -o-transition: 0.5s;
              background-color: rgba(0, 0, 0, 0.8);
              text-align: center;
              line-height: 462px; }
              .film_detail_container .film_warp .film .left_content .avatar_film .backdrop i {
                color: #fff544;
                font-size: 40px;
                cursor: pointer; }
              .film_detail_container .film_warp .film .left_content .avatar_film .backdrop:hover {
                opacity: 1; }
        .film_detail_container .film_warp .film .right_content {
          height: 100%;
          padding-top: 80px;
          padding-bottom: 80px;
          padding-right: 12%;
          color: white; }
          .film_detail_container .film_warp .film .right_content .right_content_wrap {
            width: 100%;
            height: 100%; }
            .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up {
              width: 100%;
              height: 50%;
              flex-direction: row; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left {
                width: 50%;
                height: 100%; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left h5 {
                  border-bottom: 1px solid #fff544;
                  padding-bottom: 5px;
                  font-size: 17px;
                  width: 100%; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left p {
                  font-size: 14px; }
                  .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_left p span {
                    font-size: 14px;
                    color: #a5a5a5; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right {
                width: 50%;
                height: 100%;
                padding-left: 20%;
                display: block; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right p {
                  font-size: 14px;
                  color: #fff544;
                  padding-left: 0; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right .star_wrap {
                  width: 62%;
                  height: 90px;
                  background-image: url(../img/Paomedia-Small-N-Flat-Star.ico);
                  background-size: cover;
                  text-align: center;
                  line-height: 90px; }
                  .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_up .right_content_up_right .star_wrap p {
                    font-size: 17px;
                    color: black;
                    font-weight: bold; }
            .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down {
              width: 100%;
              height: 50%;
              padding-top: 28px;
              overflow: hidden; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down h6 {
                color: #a5a5a5;
                padding-bottom: 5px; }
              .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down p {
                font-size: 14px; }
                .film_detail_container .film_warp .film .right_content .right_content_wrap .right_content_down p span {
                  font-size: 14px;
                  color: #a5a5a5; } }
@media (min-width: 320px) {
  .title_calendar_film {
    width: 100%;
    height: 50px;
    margin: 50px 0px;
    display: flex;
    justify-content: center; }
    .title_calendar_film .calendar_wrap {
      width: 70%;
      height: 100%;
      text-align: center; }
      .title_calendar_film .calendar_wrap img {
        height: 100%;
        width: auto; }
      .title_calendar_film .calendar_wrap span {
        font-size: 30px; } }
@media (min-width: 768px) {
  .title_calendar_film {
    width: 100%;
    height: 50px;
    margin: 50px 0px;
    display: flex;
    justify-content: center; }
    .title_calendar_film .calendar_wrap {
      width: 30%;
      height: 100%;
      text-align: center; }
      .title_calendar_film .calendar_wrap img {
        height: 100%;
        width: auto; }
      .title_calendar_film .calendar_wrap span {
        font-size: 30px; } }
@media (min-width: 996px) {
  .title_calendar_film {
    width: 100%;
    height: 50px;
    margin: 50px 0px;
    display: flex;
    justify-content: center; }
    .title_calendar_film .calendar_wrap {
      width: 30%;
      height: 100%;
      text-align: center; }
      .title_calendar_film .calendar_wrap img {
        height: 100%;
        width: auto; }
      .title_calendar_film .calendar_wrap span {
        font-size: 30px; } }
@media (min-width: 1200px) {
  .title_calendar_film {
    width: 100%;
    height: 50px;
    margin: 50px 0px;
    display: flex;
    justify-content: center; }
    .title_calendar_film .calendar_wrap {
      width: 30%;
      height: 100%;
      text-align: center; }
      .title_calendar_film .calendar_wrap img {
        height: 100%;
        width: auto; }
      .title_calendar_film .calendar_wrap span {
        font-size: 30px; } }
@media (min-width: 320px) {
  .movie_theaters {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; }
    .movie_theaters ul {
      width: 80%;
      list-style: none;
      height: auto;
      display: block; }
      .movie_theaters ul li {
        width: 100%;
        height: 68px; }
        .movie_theaters ul li:nth-child(2) {
          margin-top: 20px; }
        .movie_theaters ul li:nth-child(3) {
          margin-top: 20px; }
        .movie_theaters ul li a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex; }
          .movie_theaters ul li a .movie_theaters_avatar {
            width: 21%;
            height: 90%;
            display: inline-block;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%; }
            .movie_theaters ul li a .movie_theaters_avatar.galaxy {
              background-image: url("../img/galaxy-cinema.png");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat; }
            .movie_theaters ul li a .movie_theaters_avatar.lotte {
              background-image: url("../img/lotte-cinema-vi-t-nam-logo.png");
              background-size: contain;
              background-position: center; }
            .movie_theaters ul li a .movie_theaters_avatar.cgv {
              background-image: url("../img/512x512bb.jpg");
              background-size: contain;
              background-position: center; }
          .movie_theaters ul li a .title_text {
            width: 71%;
            height: 100%;
            padding-left: 10px;
            display: inline-block;
            line-height: 80px;
            color: black;
            font-size: 20px; } }
@media (min-width: 768px) {
  .movie_theaters {
    width: 100%;
    height: 68px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; }
    .movie_theaters ul {
      width: 83%;
      list-style: none;
      height: 100%;
      display: flex; }
      .movie_theaters ul li {
        width: 33.3333333333%;
        height: 100%; }
        .movie_theaters ul li:nth-child(2) {
          margin-top: 0px; }
        .movie_theaters ul li:nth-child(3) {
          margin-top: 0px; }
        .movie_theaters ul li a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex; }
          .movie_theaters ul li a .movie_theaters_avatar {
            width: 29%;
            height: 90%;
            display: inline-block;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%; }
            .movie_theaters ul li a .movie_theaters_avatar.galaxy {
              background-image: url("../img/galaxy-cinema.png");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat; }
            .movie_theaters ul li a .movie_theaters_avatar.lotte {
              background-image: url("../img/lotte-cinema-vi-t-nam-logo.png");
              background-size: contain;
              background-position: center; }
            .movie_theaters ul li a .movie_theaters_avatar.cgv {
              background-image: url("../img/512x512bb.jpg");
              background-size: contain;
              background-position: center; }
          .movie_theaters ul li a .title_text {
            width: 71%;
            height: 100%;
            padding-left: 10px;
            display: inline-block;
            line-height: 80px;
            color: black;
            font-size: 20px; } }
@media (min-width: 996px) {
  .movie_theaters {
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; }
    .movie_theaters ul {
      width: 71%;
      list-style: none;
      height: 100%;
      display: flex; }
      .movie_theaters ul li {
        width: 33.3333333333%;
        height: 100%; }
        .movie_theaters ul li:nth-child(2) {
          margin-top: 0px; }
        .movie_theaters ul li:nth-child(3) {
          margin-top: 0px; }
        .movie_theaters ul li a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex; }
          .movie_theaters ul li a .movie_theaters_avatar {
            width: 29%;
            height: 90%;
            display: inline-block;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%; }
            .movie_theaters ul li a .movie_theaters_avatar.galaxy {
              background-image: url("../img/galaxy-cinema.png");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat; }
            .movie_theaters ul li a .movie_theaters_avatar.lotte {
              background-image: url("../img/lotte-cinema-vi-t-nam-logo.png");
              background-size: contain;
              background-position: center; }
            .movie_theaters ul li a .movie_theaters_avatar.cgv {
              background-image: url("../img/512x512bb.jpg");
              background-size: contain;
              background-position: center; }
          .movie_theaters ul li a .title_text {
            width: 71%;
            height: 100%;
            padding-left: 10px;
            display: inline-block;
            line-height: 80px;
            color: black;
            font-size: 20px; } }
@media (min-width: 1200px) {
  .movie_theaters {
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; }
    .movie_theaters ul {
      width: 60%;
      list-style: none;
      height: 100%;
      display: flex; }
      .movie_theaters ul li {
        width: 33.3333333333%;
        height: 100%; }
        .movie_theaters ul li:nth-child(2) {
          margin-top: 0px; }
        .movie_theaters ul li:nth-child(3) {
          margin-top: 0px; }
        .movie_theaters ul li a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex; }
          .movie_theaters ul li a.item_galaxy:hover > span:nth-child(2) {
            color: #E99404; }
          .movie_theaters ul li a .movie_theaters_avatar {
            width: 29%;
            height: 90%;
            display: inline-block;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%; }
            .movie_theaters ul li a .movie_theaters_avatar.galaxy {
              background-image: url("../img/galaxy-cinema.png");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat; }
            .movie_theaters ul li a .movie_theaters_avatar.lotte {
              background-image: url("../img/lotte-cinema-vi-t-nam-logo.png");
              background-size: contain;
              background-position: center; }
            .movie_theaters ul li a .movie_theaters_avatar.cgv {
              background-image: url("../img/512x512bb.jpg");
              background-size: contain;
              background-position: center; }
          .movie_theaters ul li a .title_text {
            width: 71%;
            height: 90%;
            padding-left: 10px;
            display: inline-block;
            line-height: 80px;
            color: black;
            font-size: 20px; } }
@media (min-width: 1200px) {
  .movie_theaters_info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
    .movie_theaters_info .movie_theaters_info_wrap {
      position: relative;
      width: 75%;
      height: 300px; }
      .movie_theaters_info .movie_theaters_info_wrap .info_galaxy {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: #f4f4f4; }
        .movie_theaters_info .movie_theaters_info_wrap .info_galaxy:target {
          z-index: 1; }
        .movie_theaters_info .movie_theaters_info_wrap .info_galaxy .date_wrap {
          width: 100%;
          height: auto;
          padding: 30px 20px; }
          .movie_theaters_info .movie_theaters_info_wrap .info_galaxy .date_wrap ul {
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: center;
            margin-bottom: 0; }
            .movie_theaters_info .movie_theaters_info_wrap .info_galaxy .date_wrap ul li {
              width: 13%;
              height: 100%;
              text-align: center; }
              .movie_theaters_info .movie_theaters_info_wrap .info_galaxy .date_wrap ul li p {
                margin-bottom: 0;
                color: #E99404; }
                .movie_theaters_info .movie_theaters_info_wrap .info_galaxy .date_wrap ul li p:nth-child(1) {
                  font-size: 17px; }
                .movie_theaters_info .movie_theaters_info_wrap .info_galaxy .date_wrap ul li p:nth-child(2) {
                  font-size: 30px; }
      .movie_theaters_info .movie_theaters_info_wrap .info_lotte {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f4f4f4;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
        .movie_theaters_info .movie_theaters_info_wrap .info_lotte:target {
          z-index: 1; }
      .movie_theaters_info .movie_theaters_info_wrap .info_cgv {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f4f4f4;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
        .movie_theaters_info .movie_theaters_info_wrap .info_cgv:target {
          z-index: 1; }

  .item_galaxy:hover > .info_lotte {
    display: none; } }
.Ghe {
  width: 70px;
  height: 30px;
  margin: 5px;
  background-color: #60A8EC;
  color: white;
  border: none;
  box-shadow: none; }

.GheDaDat {
  color: white;
  margin: 5px;
  cursor: no-drop !important;
  background-color: red;
  width: 70px;
  height: 30px;
  margin: 5px; }

.GheDangDat {
  background-color: #fff544;
  color: black; }

.DanhSachGhe {
  background-image: url("../img/primary-search-bg.jpg");
  background-position: center;
  background-repeat: none;
  padding: 20px 0; }
  .DanhSachGhe .Screen {
    width: 98%;
    background-color: black;
    height: 5px;
    text-align: center;
    margin: 20px auto;
    position: relative;
    box-shadow: 0px 7px 12px 0px #0000009c; }
  .DanhSachGhe .btn {
    box-shadow: none !important; }
  .DanhSachGhe .left {
    border: 2px solid yellow;
    padding: 20px;
    background-color: #c50202; }
    .DanhSachGhe .left h4 {
      color: white;
      padding-bottom: 10px !important; }
    .DanhSachGhe .left .content_left {
      background-color: white;
      margin: auto;
      text-align: center;
      padding: 20px; }
  .DanhSachGhe .right {
    background-color: #195499;
    color: white;
    padding: 20px;
    border: 2px solid #fff544;
    margin-left: auto; }

/*# sourceMappingURL=main.css.map */
