

// hiển thị trên màn hình điện thoại
@media (min-width: 320px) {
    .film_detail_container{
        background-image: url("../img/banner_avenger_4.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 932px;
        padding: 0;
        .film_warp{
            background-color: rgba(24, 24, 24, 0.8);
            height: 100%;
            width: 100%;
            padding: 0;
            .film_bar{
                width: 100%;
                height: 15px;
                background-image: url("../img/film.png");
                background-size: contain;
                background-repeat: repeat;
                span{
                    height: 100%;
                    width: 2.5px;
                    background-color: $color-blue-light;
                }
            }
            .film{
                width: 100%;
                height: 902px;
                padding-left: 0;
                padding-right: 0;
                .left_content{
                    width: 100%;
                    height: 50%;
                    padding:40px 12%;
                    .avatar_film{
                       width: 100%;
                       height: 400px;
                       background-repeat: no-repeat;
                    //    background-image: url("../img/poster_avenger_4.jpg")
                    img{
                        width: 100%;
                    };
                       background-position: center;
                       background-size: cover;
                       .backdrop{
                           opacity: 0;
                           width: 100%;
                           height:100%;
                           transition: 1s;
                           -webkit-transition: 0.5s;
                           -moz-transition: 0.5s;
                           -ms-transition: 0.5s;
                           -o-transition: 0.5s;
                           background-color: $color-black-dark;
                           text-align: center;
                           line-height: 371px;
                           i{
                               color: $color-yellow;
                               font-size: $fs-5;
                               cursor: pointer;
                           }
                           &:hover{
                            opacity: 1;
                        }
                        }
                    }
                }
                .right_content{
                    width: 100%;
                    height: 50%;
                    padding-top:0px;
                    padding-bottom:40px;
                    padding-right:0;
                    padding-left: 0;
                    color:$color-white;
                    .right_content_wrap{
                        width: 100%;
                        height:100%;
                        .right_content_up{
                            width: 100%;
                            height:50%;
                            padding: 0 10%; 
                            flex-direction: column;
                            .right_content_up_left{
                                width: 100%;
                                height: 100%;
                                h5{
                                    width:100%;
                                    border-bottom: 1px solid $color-yellow;
                                    padding-bottom: 5px;
                                }
                                p{
                                    font-size: $fs-6;
                                    span{
                                        font-size: $fs-6;
                                        color:$color-grey;
                                    }
                                }
                                .date_film{
                                    margin-top: 20px;
                                }
                            }
                            .right_content_up_right{
                                width: 100%;
                                height: 100%;
                                padding-left: 0%;
                                display: flex;
                                p{
                                    padding-left: 0%;
                                    font-size: $fs-6;
                                    color: $color-yellow;
                                }
                                .star_wrap{
                                    width: 15%;
                                    height:100%;
                                    background-image:none;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    text-align: center;
                                    line-height: 21px;
                                    p{
                                        padding-left:0;
                                        font-size: $fs-2;
                                        color: $color-white; 
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                        .right_content_down{
                            width: 100%;
                            height:50%;
                            padding-top:30px;
                            overflow: hidden;
                            padding: 0 10%; 
                            h6{
                                color:$color-grey;
                                padding-bottom: 5px;
                            }
                            p{
                                font-size: $fs-6;
                                span{
                                    font-size: $fs-6;
                                    color:$color-grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }

// hiển thị trên màn hình ipad
@media (min-width: 768px) { 
    .film_detail_container{
        background-image: url("../img/banner_avenger_4.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        // height: 932px;
        padding: 0;
        .film_warp{
            background-color: rgba(24, 24, 24, 0.8);
            height: 100%;
            width: 100%;
            padding: 0;
            .film_bar{
                width: 100%;
                height: 15px;
                background-image: url("../img/film.png");
                background-size: contain;
                background-repeat: repeat;
                span{
                    height: 100%;
                    width: 2.5px;
                    background-color: $color-blue-light;
                }
            }
            .film{
                width: 100%;
                height: 902px;
                padding-left: 0;
                padding-right: 0;
                .left_content{
                    width: 100%;
                    height: 50%;
                    padding:80px 36% 40px 36%;
                    .avatar_film{
                       width: 100%;
                       height: 400px;
                       background-image: url("../img/poster_avenger_4.jpg");

                       background-position: center;
                       background-size: cover;
                       background-repeat: no-repeat;
                       .backdrop{
                           opacity: 0;
                           width: 100%;
                           height:100%;
                           transition: 1s;
                           -webkit-transition: 0.5s;
                           -moz-transition: 0.5s;
                           -ms-transition: 0.5s;
                           -o-transition: 0.5s;
                           background-color: $color-black-dark;
                           text-align: center;
                           line-height: 371px;
                           i{
                               color: $color-yellow;
                               font-size: $fs-5;
                               cursor: pointer;
                           }
                           &:hover{
                            opacity: 1;
                        }
                        }
                    }
                }
                .right_content{
                    width: 100%;
                    height: 50%;
                    padding: 0;
                    color:$color-white;
                    .right_content_wrap{
                        width: 100%;
                        height:100%;
                        .right_content_up{
                            width: 100%;
                            height:50%;
                            padding: 0 10%; 
                            flex-direction: row;
                            .right_content_up_left{
                                width: 50%;
                                height: 100%;
                                h5{
                                    width:100%;
                                    border-bottom: 1px solid $color-yellow;
                                    padding-bottom: 5px;
                                }
                                p{
                                    font-size: $fs-6;
                                    span{
                                        font-size: $fs-6;
                                        color:$color-grey;
                                    }
                                }
                                .date_film{
                                    margin-top: 20px;
                                }
                            }
                            .right_content_up_right{
                                width: 50%;
                                height: 100%;
                                padding-left: 20%;
                                display: block;
                                p{
                                    padding-left: 10%;
                                    font-size: $fs-6;
                                    color: $color-yellow;
                                }
                                .star_wrap{
                                    width: 50%;
                                    height:90px;
                                    background-image: url("../img/Paomedia-Small-N-Flat-Star.ico");
                                    background-size: cover;
                                    text-align: center;
                                    line-height: 90px;
                                    p{
                                        padding-left:0;
                                        font-size: $fs-2;
                                        color: $color-black; 
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                        .right_content_down{
                            width: 100%;
                            height:50%;
                            padding-top:30px;
                            overflow: hidden;
                            padding: 0 10%; 
                            h6{
                                color:$color-grey;
                                padding-bottom: 5px;
                            }
                            p{
                                font-size: $fs-6;
                                span{
                                    font-size: $fs-6;
                                    color:$color-grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
 }

// hiển thị trên màn hình desktop
@media (min-width: 996px) { 
    .film_detail_container{
        background-image: url("../img/banner_avenger_4.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 532px;
        padding: 0;
        .film_warp{
            background-color: rgba(24, 24, 24, 0.8);
            height: 100%;
            width: 100%;
            padding: 0;
            .film_bar{
                width: 100%;
                height: 15px;
                background-image: url("../img/film.png");
                background-size: contain;
                background-repeat: repeat;
                span{
                    height: 100%;
                    width: 2.5px;
                    background-color: $color-blue-light;
                }
            }
            .film{
                width: 100%;
                height: 502px;
                display: flex;
                .left_content{
                    height: 100%;
                    padding:40px 12%;
                    .avatar_film{
                       width: 100%;
                       height: 100%;
                    //    background-position: center;
                    //    background-size: cover;
                    background-repeat: no-repeat;
                       img{
                           width: 100%;
                       }
                       .backdrop{
                           opacity: 0;
                           width: 100%;
                           height:100%;
                           transition: 1s;
                           -webkit-transition: 0.5s;
                           -moz-transition: 0.5s;
                           -ms-transition: 0.5s;
                           -o-transition: 0.5s;
                           background-color: $color-black-dark;
                           text-align: center;
                           line-height: 462px;
                           i{
                               color: $color-yellow;
                               font-size: $fs-5;
                               cursor: pointer;
                           }
                           &:hover{
                            opacity: 1;
                        }
                        }
                    }
                }
                .right_content{
                    height: 100%;
                    padding-top:80px;
                    padding-bottom:80px;
                    padding-right:12%;
                    color:$color-white;
                    .right_content_wrap{
                        width: 100%;
                        height:100%;
                        .right_content_up{
                            width: 100%;
                            height:50%;
                            padding: 0;
                            flex-direction: row;
                            .right_content_up_left{
                                width: 50%;
                                height: 100%;
                                h5{
                                    border-bottom: 1px solid $color-yellow;
                                    padding-bottom: 5px;
                                    font-size: $fs-2;
                                    width:100%;
                                }
                                p{
                                    font-size: $fs-6;
                                    span{
                                        font-size: $fs-6;
                                        color:$color-grey;
                                    }
                                }
                            }
                            .right_content_up_right{
                                width: 50%;
                                height: 100%;
                                padding-left: 20%;
                                display: block;
                                p{
                                    font-size: $fs-6;
                                    color: $color-yellow;
                                    padding-left: 0;
                                }
                                .star_wrap{
                                    width: 55%;
                                    height:65px;
                                    background-image: url("../img/Paomedia-Small-N-Flat-Star.ico");
                                    background-size: cover;
                                    text-align: center;
                                    line-height: 65px;
                                    p{
                                        font-size: $fs-0;
                                        color: $color-black; 
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                        .right_content_down{
                            width: 100%;
                            height:50%;
                            padding-top:28px;
                            padding-left: 0;
                            padding-right: 0;
                            overflow: hidden;
                            h6{
                                color:$color-grey;
                                padding-bottom: 5px;
                            }
                            p{
                                font-size: $fs-6;
                                span{
                                    font-size: $fs-6;
                                    color:$color-grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
 }


 // hiển thị trên màn hình desktop
@media (min-width: 1200px) { 
    .film_detail_container{
        background-image: url("../img/banner_avenger_4.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 532px;
        padding: 0;
        .film_warp{
            background-color: rgba(24, 24, 24, 0.8);
            height: 100%;
            width: 100%;
            padding: 0;
            .film_bar{
                width: 100%;
                height: 15px;
                background-image: url(../img/film.png);
                background-size: contain;
                background-repeat: repeat;
                span{
                    height: 100%;
                    width: 2.5px;
                    background-color: $color-blue-light;
                }
            }
            .film{
                width: 100%;
                height: 502px;
                display: flex;
                .left_content{
                    height: 100%;
                    padding:40px 12%;
                    
                    .avatar_film{
                       width: 100%;
                       height: 100%;
                       background-position: center;
                       background-size: cover;
                    background-repeat: no-repeat;
                       .backdrop{
                           opacity: 0;
                           width: 100%;
                           height:100%;
                           transition: 1s;
                           -webkit-transition: 0.5s;
                           -moz-transition: 0.5s;
                           -ms-transition: 0.5s;
                           -o-transition: 0.5s;
                           background-color: $color-black-dark;
                           text-align: center;
                           line-height: 462px;
                           i{
                               color: $color-yellow;
                               font-size: $fs-5;
                               cursor: pointer;
                           }
                           &:hover{
                            opacity: 1;
                        }
                        }
                    }
                }
                .right_content{
                    height: 100%;
                    padding-top:80px;
                    padding-bottom:80px;
                    padding-right:12%;
                    color:$color-white;
                    .right_content_wrap{
                        width: 100%;
                        height:100%;
                        .right_content_up{
                            width: 100%;
                            height:50%;
                            flex-direction: row;
                            .right_content_up_left{
                                width: 50%;
                                height: 100%;
                                h5{
                                    border-bottom: 1px solid $color-yellow;
                                    padding-bottom: 5px;
                                    font-size: $fs-2;
                                    width:100%;
                                }
                                p{
                                    font-size: $fs-6;
                                    span{
                                        font-size: $fs-6;
                                        color:$color-grey;
                                    }
                                }
                            }
                            .right_content_up_right{
                                width: 50%;
                                height: 100%;
                                padding-left: 20%;
                                display: block;
                                p{
                                    font-size: $fs-6;
                                    color: $color-yellow;
                                    padding-left: 0;
                                }
                                .star_wrap{
                                    width: 62%;
                                    height:90px;
                                    background-image: url(../img/Paomedia-Small-N-Flat-Star.ico);
                                    background-size: cover;
                                    text-align: center;
                                    line-height: 90px;
                                    p{
                                        font-size: $fs-2;
                                        color: $color-black; 
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                        .right_content_down{
                            width: 100%;
                            height:50%;
                            padding-top:28px;
                            overflow: hidden;
                            h6{
                                color:$color-grey;
                                padding-bottom: 5px;
                            }
                            p{
                                font-size: $fs-6;
                                span{
                                    font-size: $fs-6;
                                    color:$color-grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
 }