.slide_comment{
    background-color: $color-blue;
    .comment{
        width: 80%;
        margin: auto;
        color: white;
        padding: $pd-2;
        padding-top: 30px;
        padding-bottom: 30px;
        .overlay{
            img{
                margin: auto;
                border-radius: 50%;
                width: auto !important;
            }
            position: relative;
            margin-bottom: $mg-3;
            &::before{
                content: "”";
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                font-size: 30px;
                background-color: black;
                color: white;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
            } 
        }
        .content{
            p:nth-child(1){
                font-size: $fs-3 !important;
            }
            p:nth-child(2){
                font-weight: bold;
            }
            p:nth-child(3){
                font-size: 12px;
            }
        }
        @include respond-to("large"){
            width: 100%;
        }
    }
}